# Classify lyrics

In [99]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from nltk.tokenize import RegexpTokenizer
from sklearn.naive_bayes import MultinomialNB
import nltk
from nltk.classify import DecisionTreeClassifier, NaiveBayesClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.decomposition import LatentDirichletAllocation

In [40]:
df = pd.read_csv('lyrics_artists_clean.csv')
df = df.drop('Unnamed: 0', axis=1)
df.tail()

,artist,artist_code,lyrics_clean
185,Iron Maiden,1,time lose open mind time choose would care tak...
186,Iron Maiden,1,woe oh earth sea devil sends beast wrath knows...
187,Iron Maiden,1,another time another place hollow universe spa...
188,Iron Maiden,1,understand happening real dream never felt nev...
189,Iron Maiden,1,play madness give sense wonder wonder free giv...

In [4]:
# Split into train and test data

X = df['lyrics_clean']
y = df['artist_code'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Count Vectorizer

In [11]:
vectorized_lyrics = pd.DataFrame(vectorized_lyrics.todense(), columns=vectorizer.get_feature_names())
vectorized_lyrics.head()

,109s,abandoned,abates,ablaze,able,abnormal,aboard,absolute,absolutely,abuse,...,yes,yesterday,yet,yo,yoke,york,young,youth,zero,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [46]:
vectorized_lyrics.tail()

,109s,abandoned,abates,ablaze,able,abnormal,aboard,absolute,absolutely,abuse,...,yes,yesterday,yet,yo,yoke,york,young,youth,zero,zone
147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## TF-IDF

In [23]:
transformer = TfidfTransformer()
transformer.fit(vectorized_lyrics)
transformed_lyrics = transformer.transform(vectorized_lyrics)

In [24]:
transformed_lyrics = pd.DataFrame(transformed_lyrics.todense(), columns=vectorized_lyrics.columns, index=vectorized_lyrics.index)
transformed_lyrics.head()

,109s,abandoned,abates,ablaze,able,abnormal,aboard,absolute,absolutely,abuse,...,yes,yesterday,yet,yo,yoke,york,young,youth,zero,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.041055,0.058426,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.05775,0.0,0.000000,0.000000,0.0,0.0

## CLASSIFIERS

## Multinomial Naive Bayes Classifier

In [91]:
cv = CountVectorizer()
tf = TfidfTransformer()

X_train_cv = cv.fit_transform(X_train)
X_train_tf = tf.fit_transform(X_train_cv)

X_test_cv = cv.transform(X_test)
X_test_tf = tf.transform(X_test_cv)

mnb = MultinomialNB()
mnb.fit(X_train_tf, y_train)

mnb_pred = mnb.predict(X_test_tf.toarray())
print("Train score:", round(mnb.score(X_train_tf, y_train), 3))
print("Test score:", round(mnb.score(X_test_tf.toarray(), y_test), 3))

Train score: 0.967
Test score: 0.684